package $servicePackage;

import com.jsf.conventions.service.BaseService;
import ${entityPackage}.${entity};

/**
 *
 */
public interface ${serviceName} extends BaseService<${entity}, Long>{

     
}
